<div class="card-header h5">
    ประวัติความเป็นมา
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img src="https://www.src.ku.ac.th/info/images/his1.gif" class="card-img" alt="...">
                <h5 class="card-title">พ.ศ. 2533 – 2536</h5>
                <p class="card-text"> มหาวิทยาลัยเกษตรศาสตร์ ได้รับอนุมัติในหลักการจากทบวงมหาวิทยาลัยให้เปลี่ยนสถานะจาก
                    “สถานีวิจัยศรีราชา” เป็น “วิทยาลัยชุมชนศรีราชา”
                    เพื่อให้บริการการศึกษาในสาขาวิชาที่เกี่ยวข้องและเป็นประโยชน์แก่ชุมชน การบริการห้องสมุด
                    ศูนย์วัฒนธรรมชุมชนสัมพันธ์ ศูนย์สุขภาพและนันทนาการ
                    โดยได้จัดตั้งสำนักการศึกษาต่อเนื่องเพื่อจัดโครงการฝึกอบรมหลักสูตรต่าง ๆ ตามความต้องการของชุมชน
                    และจัดตั้งสถาบันค้นคว้าเพื่อพัฒนาพื้นที่ชายฝั่งทะเลภาคตะวันออก
                    เพื่อทำการค้นคว้าวิจัยในสาขาที่เกี่ยวข้องกับโครงการพัฒนาพื้นที่ชายฝั่งทะเลภาคตะวันออก
                    โดยเฉพาะทางด้านสิ่งแวดล้อมและนิเวศวิทยา</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img src="https://www.src.ku.ac.th/info/images/his2.gif" class="card-img" alt="...">
                <h5 class="card-title">พ.ศ. 2537 - 2541</h5>
                <p class="card-text">ต่อมามหาวิทยาลัยเกษตรศาสตร์
                    พัฒนาการให้บริการวิชาการแก่ชุมชนของวิทยาลัยชุมชนศรีราชาให้สามารถทำการผลิตบัณฑิตได้
                    จึงมีนโยบายปรับเปลี่ยนการบริหารงานและรูปแบบการดำเนินงานของ "วิทยาลัยชุมชนศรีราชา" ให้เป็น
                    "โครงการจัดตั้งวิทยาเขตศรีราชา"
                    เพื่อทำหน้าที่ผลิตบัณฑิตและพัฒนาทรัพยากรมนุษย์ระดับสูงเพื่อรองรับการพัฒนาพื้นที่ชายฝั่งทะเลภาคตะวันออก
                    โดยมีภารกิจหลักในการผลิตบัณฑิตระดับปริญญาตรีขึ้นไป</p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">พ.ศ. 2542 - 2546</h5>
                <p class="card-text"> สภามหาวิทยาลัยเกษตรศาสตร์ ในคราวประชุมครั้งที่ 3/2542 เมื่อวันที่ 15 มีนาคม 2542
                    ได้มีมติอนุมัติ กำหนดฐานะจาก "โครงการจัดตั้งวิทยาเขตศรีราชา" เป็น "วิทยาเขตศรีราชา"
                    ตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์ เรื่องการกำหนดเขตการศึกษาเป็นวิทยาเขต ประกาศ ณ วันที่ 16 เมษายน
                    2542 เพื่อประกาศเป็นเขตการเรียนการสอนของมหาวิทยาลัย
                    ต่อมาในคราวประชุมสภามหาวิทยาลัยเกษตรศาสตร์ครั้งที่ 12/2542 เมื่อวันที่ 20 ธันวาคม 2542 ได้
                    อนุมัติให้มีการแบ่งส่วนราชการภายในวิทยาเขต ประกอบด้วย 5 หน่วยงานหลัก ได้แก่
                    คณะทรัพยากรและสิ่งแวดล้อม คณะเทคโนโลยีอุตสาหกรรม คณะวิทยาการจัดการ สำนักงานวิทยาเขต
                    และสำนักบริการวิทยาการ ตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์ เรื่องจัดตั้งคณะและสำนักในวิทยาเขตศรีราชา
                    ประกาศ ณ วันที่ 29 ธันวาคม 2542 และคราวประชุมสภามหาวิทยาลัยเกษตรศาสตร์ ครั้งที่ 11/2543 เมื่อวันที่
                    20 พฤศจิกายน 2543 อนุมัติให้ปรับเปลี่ยนชื่อคณะเทคโนโลยีอุตสาหกรรม
                    เป็นคณะวิศวกรรมศาสตร์ศรีราชาตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์
                    เรื่องการเปลี่ยนชื่อคณะในวิทยาเขตศรีราชา ประกาศ ณ วันที่ 28 พฤศจิกายน 2543 </p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">พ.ศ. 2547 - ปัจจุบัน</h5>
                <p class="card-text">การประชุมสภามหาวิทยาลัยเกษตรศาสตร์ ครั้งที่ 9/2547 เมื่อวันที่ 13 กันยายน 2547
                    อนุมัติให้จัดตั้งบัณฑิตศึกษาสถาน ให้เป็นหน่วยงานภายในที่มีสถานภาพเทียบเท่าคณะ
                    ทำหน้าที่จัดการเรียนการสอนในระดับที่ให้ปริญญาและประกาศนียบัตรบัณฑิตในหลักสูตรสหวิทยาการที่ตอบสนองการพัฒนาเขตเศรษฐกิจบริเวณชายฝั่งทะเลตะวันออก
                    และเป็นหน่วยงานกลางในการให้บริการด้านการเรียนการสอนระดับบัณฑิตศึกษาในสาขาวิชาต่าง ๆ
                    โดยมีลักษณะการดำเนินงานเป็นทั้ง Graduate School และ Cluster of Knowledge ในลักษณะ Integrated Program
                    ตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์ เรื่องจัดตั้งบัณฑิตศึกษาสถาน วิทยาเขตศรีราชา ประกาศ ณ วันที่ 15
                    กันยายน 2547
                    - การประชุมสภามหาวิทยาลัยเกษตรศาสตร์ ครั้งที่ 1/2548 เมื่อวันที่ 17 มกราคม 2548
                    อนุมัติให้ปรับเปลี่ยนชื่อสำนักบริการวิทยาการ เป็นสำนักวิทยบริการ โดยมีการแบ่งหน่วยงานภายในเป็น 4
                    หน่วยงาน ได้แก่ สำนักงานเลขานุการ ฝ่ายเทคโนโลยีทางการศึกษา ฝ่ายบริการคอมพิวเตอร์ และฝ่ายห้องสมุด</p>

            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card-header h5">
                ประวัติพระพิรุณทรงนาค
            </div>
            <div class="card mb-3">
                <img src="https://www.src.ku.ac.th/info/images/prapiroon2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">15 มิถุนายน 2546 - ปัจจุบัน</h5>
                    <p class="card-text">
                        พระพิรุณทรงนาคเป็นเครื่องหมายทางราชการของมหาวิทยาลัยเกษตรศาสตร์และเป็นเทพแห่งฝนที่ทรงนำความสมบูรณ์มาให้แก่พืชพรรณธัญญาหาร
                        ท่านอธิการบดีมหาวิทยาลัยเกษตรศาสตร์ ( รศ.ดร.วิโรจ อิ่มพิทักษ์ )
                        จึงดำริให้ทุกวิทยาเขตมีพระพิรุณทรงนาคประดิษฐานไว้เพื่อเป็นเอกลักษณ์ เชิดชูมหาวิทยาลัย
                        และเป็นแหล่งศูนย์รวมจิตใจของบุคลากรและนิสิตและได้จัดสร้างองค์พระพิรุณทรงนาคขนาดเท่ากับคนจริง (
                        ประมาณ ๑.๕๐ เมตร ) ซึ่งมีมูลค่า ๑,๐๐๐,๐๐๐ บาท มอบให้วิทยาเขตศรีราชา</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>


        </div>